# Pandas Example 4

## 통계 분석 메소드
mean() : axis = 0 열 기준 |  axis = 1 행 기준
std()

In [17]:
import pandas as df
import numpy as np

In [18]:
table_data3 = {u'봄':  [256.5, 264.3, 215.9, 223.2, 312.8], 
                   u'여름': [770.6, 567.5, 599.8, 387.1, 446.2], 
                   u'가을': [363.5, 231.2, 293.1, 247.7, 381.6], 
                   u'겨울': [139.3, 59.9, 76.9, 109.1, 108.1]} 

columns_list = [u'봄', u'여름', u'가을', u'겨울'] 
index_list = ['2012', '2013', '2014', '2015', '2016']

In [19]:
df = df.DataFrame(table_data3, columns = columns_list, index = index_list)

In [20]:
df

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [24]:
print("average\n",df.mean())
print("standard variation\n",df.std())
print("spring average\n",df.mean(axis=1))

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1
average
 봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64
standard variation
 봄      38.628267
여름    148.888895
가을     67.358496
겨울     30.925523
dtype: float64
spring average
 2012    382.475
2013    280.725
2014    296.425
2015    241.775
2016    312.175
dtype: float64