# Pandas Example2

## Series Example

In [1]:
import pandas as pd

In [2]:
data = [1,3,5,7,9]
s = pd.Series(data)

In [3]:
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

## DataFrame Example

In [4]:
data = {
    'year' : [2016, 2017, 2018],
    'GDP rate' : [2.8, 3.1, 3.0],
    'GDP' : ['1.637M', '1.73M', '1.73M']
}
df = pd.DataFrame(data)

In [5]:
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.73M

## Panel Example

In [6]:
import numpy as np

In [7]:
data = np.random.rand(2,3,4)

In [17]:
# Panel 안 됨
p = pd.Panel(data)
print(p)

<ipython-input-17-b75e079757f6>:2: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  p = pd.Panel(data)

TypeError: Panel() takes no arguments

## Data Access

In [19]:
df['year']

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [20]:
df.year

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [21]:
df[df['year'] > 2016]

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.73M

In [22]:
sum = df['GDP rate'].sum()
avg = df['GDP rate'].mean()
print(sum, avg)

8.9 2.966666666666667

In [24]:
df.describe()

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000