# Pandas Example 2

In [2]:
import pandas as pd

In [3]:
data = {
    'year' : [2016, 2017, 2018],
    'GDP rate' : [2.8, 3.2, 3.0],
    'GDP': ['1.637M', '1.7M', '1.83M']
}

df = pd.DataFrame(data)

In [4]:
df['year']

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [5]:
df.year

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [10]:
# boolean indexing
df[df['year']>2016]

   year  GDP rate    GDP
1  2017       3.2   1.7M
2  2018       3.0  1.83M

In [11]:
sum = df['GDP rate'].sum()
avg = df['GDP rate'].mean()
print(sum, avg)

9.0 3.0