# Pandas Example 9

In [1]:
import pandas as pd
import numpy as np

In [2]:
tips = pd.read_csv('./data/tips.csv')

In [3]:
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [8]:
tips = tips.sample(10)

In [9]:
tips

     total_bill   tip smoker   day    time  size
6          8.77  2.00     No   Sun  Dinner     2
100       11.35  2.50    Yes   Fri  Dinner     2
132       11.17  1.50     No  Thur   Lunch     2
73        25.28  5.00    Yes   Sat  Dinner     2
163       13.81  2.00     No   Sun  Dinner     2
94        22.75  3.25     No   Fri  Dinner     2
199       13.51  2.00    Yes  Thur   Lunch     2
238       35.83  4.67     No   Sat  Dinner     3
143       27.05  5.00     No  Thur   Lunch     6
86        13.03  2.00     No  Thur   Lunch     2

In [15]:
grouped = tips['total_bill'].groupby(tips['smoker'])

In [16]:
means = tips['total_bill'].groupby(tips['smoker']).mean()

In [19]:
print(means)

smoker
No     18.915714
Yes    16.713333
Name: total_bill, dtype: float64

In [20]:
randArray = np.random.randint(1,10,len(tips))

In [21]:
randArray

array([9, 1, 3, 7, 4, 3, 1, 3, 3, 2])

In [22]:
rMeans = tips.groupby(randArray).mean()

In [23]:
rMeans

   total_bill    tip  size
1       12.43  2.250  2.00
2       13.03  2.000  2.00
3       24.20  3.605  3.25
4       13.81  2.000  2.00
7       25.28  5.000  2.00
9        8.77  2.000  2.00

In [24]:
for day, smoker in grouped :
    print(day)
    print(smoker)

No
6       8.77
132    11.17
163    13.81
94     22.75
238    35.83
143    27.05
86     13.03
Name: total_bill, dtype: float64
Yes
100    11.35
73     25.28
199    13.51
Name: total_bill, dtype: float64

In [40]:
for(aim1, aim2), group in tips.groupby(['smoker','day']):
    print(aim1, aim2)
    print(group.mean())

No Fri
total_bill    22.75
tip            3.25
size           2.00
dtype: float64
No Sat
total_bill    35.83
tip            4.67
size           3.00
dtype: float64
No Sun
total_bill    11.29
tip            2.00
size           2.00
dtype: float64
No Thur
total_bill    17.083333
tip            2.833333
size           3.333333
dtype: float64
Yes Fri
total_bill    11.35
tip            2.50
size           2.00
dtype: float64
Yes Sat
total_bill    25.28
tip            5.00
size           2.00
dtype: float64
Yes Thur
total_bill    13.51
tip            2.00
size           2.00
dtype: float64

In [42]:
eachGroup = dict(list(tips.groupby('day')))

In [43]:
print(eachGroup)

{'Fri':      total_bill   tip smoker  day    time  size
100       11.35  2.50    Yes  Fri  Dinner     2
94        22.75  3.25     No  Fri  Dinner     2, 'Sat':      total_bill   tip smoker  day    time  size
73        25.28  5.00    Yes  Sat  Dinner     2
238       35.83  4.67     No  Sat  Dinner     3, 'Sun':      total_bill  tip smoker  day    time  size
6          8.77  2.0     No  Sun  Dinner     2
163       13.81  2.0     No  Sun  Dinner     2, 'Thur':      total_bill  tip smoker   day   time  size
132       11.17  1.5     No  Thur  Lunch     2
199       13.51  2.0    Yes  Thur  Lunch     2
143       27.05  5.0     No  Thur  Lunch     6
86        13.03  2.0     No  Thur  Lunch     2}

In [44]:
print(eachGroup['Sat'])

     total_bill   tip smoker  day    time  size
73        25.28  5.00    Yes  Sat  Dinner     2
238       35.83  4.67     No  Sat  Dinner     3

In [45]:
dict(list(tips['total_bill'].groupby(tips['smoker'])))

{'No': 6       8.77
 132    11.17
 163    13.81
 94     22.75
 238    35.83
 143    27.05
 86     13.03
 Name: total_bill, dtype: float64,
 'Yes': 100    11.35
 73     25.28
 199    13.51
 Name: total_bill, dtype: float64}

In [50]:
dict(list(tips.groupby(['smoker','day'])))

{('No',
  'Fri'):     total_bill   tip smoker  day    time  size
 94       22.75  3.25     No  Fri  Dinner     2,
 ('No',
  'Sat'):      total_bill   tip smoker  day    time  size
 238       35.83  4.67     No  Sat  Dinner     3,
 ('No',
  'Sun'):      total_bill  tip smoker  day    time  size
 6          8.77  2.0     No  Sun  Dinner     2
 163       13.81  2.0     No  Sun  Dinner     2,
 ('No',
  'Thur'):      total_bill  tip smoker   day   time  size
 132       11.17  1.5     No  Thur  Lunch     2
 143       27.05  5.0     No  Thur  Lunch     6
 86        13.03  2.0     No  Thur  Lunch     2,
 ('Yes',
  'Fri'):      total_bill  tip smoker  day    time  size
 100       11.35  2.5    Yes  Fri  Dinner     2,
 ('Yes',
  'Sat'):     total_bill  tip smoker  day    time  size
 73       25.28  5.0    Yes  Sat  Dinner     2,
 ('Yes',
  'Thur'):      total_bill  tip smoker   day   time  size
 199       13.51  2.0    Yes  Thur  Lunch     2}

In [53]:
dict(list(tips.groupby(['smoker','day'])))

{('No',
  'Fri'):     total_bill   tip smoker  day    time  size
 94       22.75  3.25     No  Fri  Dinner     2,
 ('No',
  'Sat'):      total_bill   tip smoker  day    time  size
 238       35.83  4.67     No  Sat  Dinner     3,
 ('No',
  'Sun'):      total_bill  tip smoker  day    time  size
 6          8.77  2.0     No  Sun  Dinner     2
 163       13.81  2.0     No  Sun  Dinner     2,
 ('No',
  'Thur'):      total_bill  tip smoker   day   time  size
 132       11.17  1.5     No  Thur  Lunch     2
 143       27.05  5.0     No  Thur  Lunch     6
 86        13.03  2.0     No  Thur  Lunch     2,
 ('Yes',
  'Fri'):      total_bill  tip smoker  day    time  size
 100       11.35  2.5    Yes  Fri  Dinner     2,
 ('Yes',
  'Sat'):     total_bill  tip smoker  day    time  size
 73       25.28  5.0    Yes  Sat  Dinner     2,
 ('Yes',
  'Thur'):      total_bill  tip smoker   day   time  size
 199       13.51  2.0    Yes  Thur  Lunch     2}

In [56]:
for key1, key2 in tips['total_bill'].groupby(tips['smoker']):
    print(key1)

No
Yes

In [57]:
print(eachGroup['Sat'])

     total_bill   tip smoker  day    time  size
73        25.28  5.00    Yes  Sat  Dinner     2
238       35.83  4.67     No  Sat  Dinner     3

In [58]:
# As DataFrame
tip_dframe = tips.groupby('day')[['tip']].mean()

In [60]:
tip_dframe

        tip
day
Fri   2.875
Sat   4.835
Sun   2.000
Thur  2.625

In [61]:
# As Series
tip_series = tips.groupby('day')['tip'].mean()

In [62]:
tip_series

day
Fri     2.875
Sat     4.835
Sun     2.000
Thur    2.625
Name: tip, dtype: float64