# Pandas Example 10

In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_excel('./data/학생시험성적.xlsx', sheet_name=u'2차시험',index_col=u'학생')

In [4]:
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

In [7]:
excel_exam_data1 = {
    u'학생':['A', 'B', 'C', 'D', 'E', 'F'],
    u'국어': [80, 90, 95, 70, 75, 85], 
    u'영어': [90, 95, 70, 85, 90, 95], 
    u'수학': [85, 95, 75, 80, 85, 100]
}

In [8]:
df1 = pd.DataFrame(excel_exam_data1, columns=[u'학생',u'국어',u'영어',u'수학'])

In [9]:
df1

  학생  국어  영어   수학
0  A  80  90   85
1  B  90  95   95
2  C  95  70   75
3  D  70  85   80
4  E  75  90   85
5  F  85  95  100

In [11]:
excel_exam_data2 = {u'학생': ['A', 'B', 'C', 'D', 'E', 'F'], 
                        u'국어': [85, 95, 75, 80, 85, 100], 
                        u'영어': [80, 90, 95, 70, 75, 85], 
                        u'수학': [90, 95, 70, 85, 90, 95]}

In [13]:
df2 = pd.DataFrame(excel_exam_data2, columns=[u'학생',u'국어',u'영어',u'수학'])

In [17]:
excel_writer2 = pd.ExcelWriter(u'./data/학생시험성적_수정.xlsx',engine='xlsxwriter')
df1.to_excel(excel_writer2, sheet_name = u'중간고사', index=False)
df2.to_excel(excel_writer2, sheet_name = u'기말고사', index=False)
excel_writer2.save()