## Pandas Example7

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_A_B = pd.DataFrame({u'판매월': [u'1월', u'2월', u'3월', u'4월'], 
                          u'제품A': [100, 150, 200, 130], 
                          u'제품B': [90, 110, 140, 170]})
df_C_D = pd.DataFrame({u'판매월': [u'1월', u'2월', u'3월', u'4월'], 
                           u'제품C': [112, 141, 203, 134], 
                           u'제품D': [90, 110, 140, 170]})

In [6]:
df_Total = df_A_B.merge(df_C_D)

In [7]:
df_Total

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [9]:
df_left = pd.DataFrame({'key':['A','B','C'], 'left': [1, 2, 3]}) 
df_right = pd.DataFrame({'key':['A','B','D'], 'right': [4, 5, 6]})
df_left.merge(df_right, how='left', on = 'key')

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   C     3    NaN

In [12]:
df_left.merge(df_right, how='outer', on = 'key')

  key  left  right
0   A   1.0    4.0
1   B   2.0    5.0
2   C   3.0    NaN
3   D   NaN    6.0

In [13]:
df_left.merge(df_right, how='right', on = 'key')

  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6

In [14]:
df_left.merge(df_right, how='inner', on = 'key')

  key  left  right
0   A     1      4
1   B     2      5