# Pandas Example 8

In [13]:
import pandas as pd

In [14]:
rainAmount = pd.read_csv('data/sea_rain.csv', encoding="utf8", sep="\t", index_col=u"년도")

In [15]:
rainAmount

           동해       남해       서해      전체
년도
1996  17.4629  17.2288  14.4360  15.9067
1997  17.4116  17.4092  14.8248  16.1526
1998  17.5944  18.0110  15.2512  16.6044
1999  18.1495  18.3175  14.8979  16.6284
2000  17.9288  18.1766  15.0504  16.6178

In [16]:
df_WH = pd.DataFrame({'weight' : [62,67,55,72],
                     'height': [165, 177, 160, 180]},
                    index=['ID_1','ID_2','ID_3','ID_4'])

df_WH.index.name = 'User'
bmi = df_WH['weight']/(df_WH['height']/100)**2
df_WH['BMI'] = bmi

In [17]:
df_WH

      weight  height        BMI
User
ID_1      62     165  22.773186
ID_2      67     177  21.385936
ID_3      55     160  21.484375
ID_4      72     180  22.222222

In [18]:
df_WH.to_csv('data/bmi.csv')

In [19]:
bmi = pd.read_csv('data/bmi.csv', encoding="utf8", sep=",", index_col='User')

In [20]:
bmi

      weight  height        BMI
User
ID_1      62     165  22.773186
ID_2      67     177  21.385936
ID_3      55     160  21.484375
ID_4      72     180  22.222222