# Pandas Example 9

In [1]:
import numpy as np
import pandas as pd

In [3]:
tips = pd.read_csv('data/tips.csv')

In [4]:
tips = tips.sample(10)
tips

     total_bill   tip smoker   day    time  size
196       10.34  2.00    Yes  Thur   Lunch     2
60        20.29  3.21    Yes   Sat  Dinner     2
49        18.04  3.00     No   Sun  Dinner     2
41        17.46  2.54     No   Sun  Dinner     2
119       24.08  2.92     No  Thur   Lunch     4
34        17.78  3.27     No   Sat  Dinner     2
15        21.58  3.92     No   Sun  Dinner     2
153       24.55  2.00     No   Sun  Dinner     4
95        40.17  4.73    Yes   Fri  Dinner     4
96        27.28  4.00    Yes   Fri  Dinner     2

In [5]:
# Group by
grouped = tips['total_bill'].groupby(tips['smoker'])

# avg
means = tips['total_bill'].groupby(tips['smoker']).mean()

means

smoker
No     20.581667
Yes    24.520000
Name: total_bill, dtype: float64

In [6]:
randArray = np.random.randint(1, 10, len(tips))
rMeans = tips.groupby(randArray).mean()
rMeans

   total_bill    tip  size
2      20.290  3.210     2
3      24.315  2.460     4
4      40.170  4.730     4
5      17.750  2.770     2
6      10.340  2.000     2
8      21.580  3.920     2
9      22.530  3.635     2

In [8]:
for day, smoker in grouped:
    print(day)
    print(smoker)

No
49     18.04
41     17.46
119    24.08
34     17.78
15     21.58
153    24.55
Name: total_bill, dtype: float64
Yes
196    10.34
60     20.29
95     40.17
96     27.28
Name: total_bill, dtype: float64

In [9]:
for (key1, key2), group in tips.groupby(['smoker','day']):
    print(key1, key2)
    print(group.mean())

No Sat
total_bill    17.78
tip            3.27
size           2.00
dtype: float64
No Sun
total_bill    20.4075
tip            2.8650
size           2.5000
dtype: float64
No Thur
total_bill    24.08
tip            2.92
size           4.00
dtype: float64
Yes Fri
total_bill    33.725
tip            4.365
size           3.000
dtype: float64
Yes Sat
total_bill    20.29
tip            3.21
size           2.00
dtype: float64
Yes Thur
total_bill    10.34
tip            2.00
size           2.00
dtype: float64

In [10]:
eachGroup = dict(list(tips.groupby('day')))
print(eachGroup)
print(eachGroup['Sat'])

{'Fri':     total_bill   tip smoker  day    time  size
95       40.17  4.73    Yes  Fri  Dinner     4
96       27.28  4.00    Yes  Fri  Dinner     2, 'Sat':     total_bill   tip smoker  day    time  size
60       20.29  3.21    Yes  Sat  Dinner     2
34       17.78  3.27     No  Sat  Dinner     2, 'Sun':      total_bill   tip smoker  day    time  size
49        18.04  3.00     No  Sun  Dinner     2
41        17.46  2.54     No  Sun  Dinner     2
15        21.58  3.92     No  Sun  Dinner     2
153       24.55  2.00     No  Sun  Dinner     4, 'Thur':      total_bill   tip smoker   day   time  size
196       10.34  2.00    Yes  Thur  Lunch     2
119       24.08  2.92     No  Thur  Lunch     4}
    total_bill   tip smoker  day    time  size
60       20.29  3.21    Yes  Sat  Dinner     2
34       17.78  3.27     No  Sat  Dinner     2

In [11]:
# dataframe
tip_dframe = tips.groupby('day')[['tip']].mean()
tip_dframe

        tip
day
Fri   4.365
Sat   3.240
Sun   2.865
Thur  2.460

In [12]:
# Series
# 두 개의 결과는 같다.
tip_dframe = tips.groupby('day')['tip'].mean()
tip_dframe

day
Fri     4.365
Sat     3.240
Sun     2.865
Thur    2.460
Name: tip, dtype: float64